

<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Manage
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li>    <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">Database</a></li>
  </ul>
</div>