@model AppMvc.Net.Models.Category

@{
    ViewData["Title"] = "Tạo chuyên mục Blog";
    @* var items = new List<SelectListItem>();
        items.Add(new SelectListItem(){
            Text = "Mục 1",
            Value = "gt1"

        });
         items.Add(new SelectListItem(){
            Text = "Mục 2",
            Value = "2",
            Selected = true

        });
         items.Add(new SelectListItem(){
            Text = "Mục 3",
            Value = "3",
            Disabled = true

        }); *@
        var data = new object[]
        {
            new {
                ten = "ten1",
                giatri =1 
            },
             new {
                ten = "ten2",
                giatri = 2 
            },
             new {
                ten = "ten3",
                giatri = 3
            }

        };
        var items = new SelectList(data, "giatri","ten", 2);
}
<select asp-items="items"></select>

<h1>@ViewData["Title"]</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParentCategoryId" class="control-label"></label>
                <select asp-for="ParentCategoryId" class ="form-control" asp-items="ViewBag.ParentCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

